.cat{
    color:green;
}
.apple{
    background-color:red;
}
.orange{
    background-color:rgb(233, 198, 133);
}
.tablecss{
    border-width: 5px;
    color:blue;
    padding:5px;
    margin: 5px;
}
.video-detail .details{
    margin-top:10 px;
    padding:10px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    color:darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ccf;
}

.list-group-item:hover{
    background-color: #ccc; 
}
.panel-bar{
    padding:10px;
    background-color:rgb(199, 199, 238);
    margin:2px;
    border-radius:4px;

}
.status-panel-bar{
    padding:10px;
    background-color:rgb(228, 228, 230);
    border: 8px outset whitesmoke;
    margin:2px;
    border-radius: 10px;

}
.panel-default{
    margin:0px !important;
}
.panel{
    margin:0px !important;
}
div {
    /* background-color:rgb(255, 255, 255); */
    padding-left:0px;
}
.div-heading{
    background-color: rgb(199, 199, 238);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:5px;
}
.div-content{
    background-color: rgb(245, 245, 250);
    margin-top:0px !important;

}
.panel-default .div-content{
    border-color:black !important;
    border-width:4px !important;
}
.no-padding{
    padding-left:0px !important;
    padding-right:0px !important;
}

.formdiv{
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-style: solid;
    border width: 1px;
    border-color: lightblue;
}

.formhead{
    background-color: blue;
    color: white;
}





